<a href="https://colab.research.google.com/github/rajim0112/GitHubDemo/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Covering Basic Pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/generated_dataset.csv")

In [ ]:
data.head()

    Name   Age    Salary Department
0    Bob  41.0   76076.0      Sales
1  Alice  59.0   71222.0         HR
2    Eva  53.0   62477.0         HR
3  David  50.0   41042.0  Marketing
4  David  44.0  108774.0      Sales

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1000 non-null   object
 1   Age         957 non-null    float64
 2   Salary      955 non-null    float64
 3   Department  1000 non-null   object
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [ ]:
data.describe()

              Age         Salary
count  957.000000     955.000000
mean    41.201672   76726.803141
std     11.060128   26712.169678
min     22.000000   30022.000000
25%     31.000000   52935.500000
50%     42.000000   77395.000000
75%     51.000000  100765.500000
max     60.000000  119959.000000

In [ ]:
data.isnull()

      Name    Age  Salary  Department
0    False  False   False       False
1    False  False   False       False
2    False  False   False       False
3    False  False   False       False
4    False  False   False       False
..     ...    ...     ...         ...
995  False  False   False       False
996  False  False   False       False
997  False  False   False       False
998  False  False   False       False
999  False  False   False       False

[1000 rows x 4 columns]

In [ ]:
data.isnull().sum()

Name           0
Age           43
Salary        45
Department     0
dtype: int64

In [ ]:
# Filter rows where Salary > 50000
filtered_data = data[data['Salary'] > 50000]
print("\nRows where Salary > 50000:")
print(filtered_data)

Rows where Salary > 50000:
        Name   Age    Salary Department
0        Bob  41.0   76076.0      Sales
1      Alice  59.0   71222.0         HR
2        Eva  53.0   62477.0         HR
4      David  44.0  108774.0      Sales
5    Charlie  56.0  109638.0         HR
..       ...   ...       ...        ...
992  Charlie   NaN   98280.0         IT
993      Bob  50.0   84262.0         HR
995    Grace  31.0   60753.0      Sales
997      Ian  27.0   82041.0    Finance
999    Alice  59.0   92021.0         HR

[747 rows x 4 columns]

In [ ]:
# Select specific columns
selected_columns = data[['Name', 'Salary']]
print("\nSelected columns (Name, Salary):")
print(selected_columns)

Selected columns (Name, Salary):
      Name    Salary
0      Bob   76076.0
1    Alice   71222.0
2      Eva   62477.0
3    David   41042.0
4    David  108774.0
..     ...       ...
995  Grace   60753.0
996  Frank   40494.0
997    Ian   82041.0
998    Eva   38361.0
999  Alice   92021.0

[1000 rows x 2 columns]

In [ ]:
# Group by Department and calculate the average salary
average_salary_by_department = data.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:")
print(average_salary_by_department)

Average salary by department:
Department
Finance      79661.510204
HR           77891.039735
IT           74233.678571
Marketing    76570.339623
Sales        75929.718563
Support      76540.509202
Name: Salary, dtype: float64

In [ ]:
# Count the number of employees in each department
employee_count_by_department = data['Department'].value_counts()
print("\nNumber of employees in each department:")
print(employee_count_by_department)

Number of employees in each department:
Department
Sales        177
IT           175
Support      172
Marketing    163
HR           158
Finance      155
Name: count, dtype: int64

In [ ]:
# Handling missing values
data_cleaned = data.fillna({'Salary': 0})
print("\nDataset after handling missing values:")
print(data_cleaned)

Dataset after handling missing values:
      Name   Age    Salary Department
0      Bob  41.0   76076.0      Sales
1    Alice  59.0   71222.0         HR
2      Eva  53.0   62477.0         HR
3    David  50.0   41042.0  Marketing
4    David  44.0  108774.0      Sales
..     ...   ...       ...        ...
995  Grace  31.0   60753.0      Sales
996  Frank  50.0   40494.0      Sales
997    Ian  27.0   82041.0    Finance
998    Eva  30.0   38361.0    Finance
999  Alice  59.0   92021.0         HR

[1000 rows x 4 columns]

In [ ]:
# Renaming salary columns
data_renamed = data.rename(columns={'Name': 'Employee Name', 'Salary': 'Monthly Salary'})
print("\nDataset after renaming columns:")
print(data_renamed)

Dataset after renaming columns:
    Employee Name   Age  Monthly Salary Department
0             Bob  41.0         76076.0      Sales
1           Alice  59.0         71222.0         HR
2             Eva  53.0         62477.0         HR
3           David  50.0         41042.0  Marketing
4           David  44.0        108774.0      Sales
..            ...   ...             ...        ...
995         Grace  31.0         60753.0      Sales
996         Frank  50.0         40494.0      Sales
997           Ian  27.0         82041.0    Finance
998           Eva  30.0         38361.0    Finance
999         Alice  59.0         92021.0         HR

[1000 rows x 4 columns]

In [ ]:
# Adding Annual Salary column
data['Annual Salary'] = data['Salary'] * 12
print("\nDataset with new column 'Annual Salary':")
print(data)

Dataset with new column 'Annual Salary':
      Name   Age    Salary Department  Annual Salary
0      Bob  41.0   76076.0      Sales       912912.0
1    Alice  59.0   71222.0         HR       854664.0
2      Eva  53.0   62477.0         HR       749724.0
3    David  50.0   41042.0  Marketing       492504.0
4    David  44.0  108774.0      Sales      1305288.0
..     ...   ...       ...        ...            ...
995  Grace  31.0   60753.0      Sales       729036.0
996  Frank  50.0   40494.0      Sales       485928.0
997    Ian  27.0   82041.0    Finance       984492.0
998    Eva  30.0   38361.0    Finance       460332.0
999  Alice  59.0   92021.0         HR      1104252.0

[1000 rows x 5 columns]